@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#site-navbar {
  background-color: #20232a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: 'Rye', cursive;
}
